In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pt
import seaborn as sb
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [14]:
usa= pd.read_csv("USA_Housing.csv")

In [ ]:
usa

In [ ]:
usa.info()

In [ ]:
usa.pop('Address')

In [ ]:
usa.columns

In [ ]:
sb.heatmap(usa.isnull(),cmap="copper_r")

In [ ]:
sb.distplot(usa['Price'])

In [32]:
usa.corr()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
Avg. Area Income,1.000000,-0.002007,-0.011032,0.019788,-0.016234,0.639734
Avg. Area House Age,-0.002007,1.000000,-0.009428,0.006149,-0.018743,0.452543
Avg. Area Number of Rooms,-0.011032,-0.009428,1.000000,0.462695,0.002040,0.335664
Avg. Area Number of Bedrooms,0.019788,0.006149,0.462695,1.000000,-0.022168,0.171071
Area Population,-0.016234,-0.018743,0.002040,-0.022168,1.000000,0.408556
Price,0.639734,0.452543,0.335664,0.171071,0.408556,1.000000

In [ ]:
sb.heatmap(usa.corr(),annot=True)

In [36]:
usa.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price'],
      dtype='object')

In [37]:
X=usa[['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population']]
y=usa['Price']

In [38]:
len(X)

5000

In [41]:
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=0.33)

In [48]:
iith = LinearRegression()
iith.fit(Xtrain,ytrain)

LinearRegression()

In [ ]:
LinearRegression()

In [ ]:
pd.DataFrame(iith.coef_,index=X.columns)

In [51]:
pr = iith.predict(Xtest)

In [ ]:
r2_score(ytest,pr)

In [ ]:
mean_absolute_error(ytest,pr)

In [ ]:
mean_squared_error(ytest,pr)